---
layout: splash
permalink: /reading-list/  
---
<ul class="taxonomy__index">
  {% assign readInYear = site.data.books.list | group_by_exp: 'same_year', 'same_year.date | date: "%Y"' %}
  {% for year in readInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<div class="container">
  <div class="last-update">Last updated {{ site.data.books.lastupdate }}</div>
  {% for entry in site.data.books.list %}
  <div class="year-container">
    <div class="year">
      <h4>{{ entry.year }}</h4>
      <div class="number">{{ entry.books | size }} books</div>
    </div>
    <div class="books">
      <ul class="reading-list {{ entry.year }}">
        {% for book in entry.books %}
        <li>
          {% if book.link %}
            {% if book.review %}
              <a href="/book_reviews/{{ book.link }}/">{{ book.title }}</a>
            {% else %}
              <a href="{{ book.link }}" alt="_blank" rel="nofollow noopener">{{ book.title }}</a>
            {% endif %}
          {% else %}
            {{ book.title }}
          {% endif %}
          <span class="author">by {{ book.author }}</span> {% if book.star %}<span class="star">★</span>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
