---
layout: single_left
permalink: /reading-list/  
---
<ul class="taxonomy__index">
  {% assign readInYear = site.data.books.list | group_by_exp: 'same_year', 'same_year.date | date: "%Y"' %}
  {% for year in readInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<div class="container">
  <div class="last-update">Listado actualizado el {{ site.data.books.lastupdate }}</div>
  {% for year in readInYear %}
  <div class="year-container">
    <div class="year">
      <h4>{{ year.name }}</h4>
      <div class="number">{{ year.size }} books</div>
    </div>
    <div class="books">
      <ul class="reading-list {{ entry.year }}">
        {% for book in year.item %}
        <li>
          {% if book.review %}
            {% assign review = site.book_reviews | where: 'isbn', book.isbn %}
            {% include book-review.html %}
          {% else %}
            {{ book.title }}
            <span class="author">by {{ book.author }}</span> {% if book.top %}<span class="star">★</span>{% endif %}
            <span class="stars-container stars-{{ book.stars | times:20 | round: 0 }}" title="{{ book.stars }}/5">★★★★★</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
