---
layout: single_left
classes: wide
author_profile: false
permalink: /libros/  
---
<ul class="taxonomy__index">
  {% assign readInYear = site.data.books.list | group_by_exp: 'same_year', 'same_year.date | date: "%Y"' %}
  {% for year in readInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<div class="container">
  <div class="last-update">Last updated {{ site.data.books.lastupdate }}</div>
  {% for year in readInYear %}
  <div class="year-container">
    <div class="year">
      <h4>{{ year.name }}</h4>
      <div class="number">{{ year.size }} books</div>
    </div>
    <div class="books">
      <ul class="reading-list {{ entry.year }}">
        {% for book in year %}
        <li>
          {% if book.review %}
              <a href="/libros/reviews/{{ book.review }}/">{{ book.title }}</a>
          {% else %}
            {{ book.title }}
          {% endif %}
          <span class="author">by {{ book.author }}</span> {% if book.top %}<span class="star">★</span><br>
          <span class="stars-container stars-{{ book.stars | times:20 | round: 0 }}" title="{{ book.stars }}/5">★★★★★</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
