/* ==========================================================================
   SINGLE_LEFT PAGE/POST
   ========================================================================== */

.page_left {
  @include breakpoint($large) {
    float: left;
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width;
  }

  .page__inner-wrap {
    float: left;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
}


/* CSS general */
.responsive-iframe {
  width: 100%;
  height: 100%;
}

/* CSS pantallas de 320px o superior */
@media (min-width: 320px) {

  .responsive-iframe {
    width: 200px;
    height: 100%;
  } 

}

/* CSS pantalla 768px o superior */
@media (min-width: 768px) {

  .responsive-iframe {
    width: 500px;
    height: 100%;
  } 

}
