	{% if post.common-text.definitions %}
		<h1 id="definiciones">Definiciones
			<a class="header-link" href="#definiciones" title="Permalink"><span class="sr-only">Permalink</span><i class="fas fa-link"></i></a>
		</h1>
		{% for def-category in post.common-text.definitions %}
			<h2 id="{{def-category}}">{{def-category}}
				<a class="header-link" href="#{{def-category}}" title="Permalink"><span class="sr-only">Permalink</span><i class="fas fa-link"></i></a>
			</h2>
			{% for definition in site.data.definitions[def-category] %}
				- {{ definition.key }}
				: {{ definition.value }}
			{% endfor %}
		{% endfor %}
	{% endif %}

	{% if post.common-text.acronyms %}
		Acronimos
		{% for acr-category in post.common-text.acronyms %}
			## {{ acr-category }}
			{% for acronym in site.data.acronyms[acr-category] %}
				*[{{ acronym.key }}]: {{ acronym.value }}
			{% endfor %}
		{% endfor %}
	{% endif %}
