	{% if post.common-text.definitions %}
		# Definiciones
		{% for def-category in post.common-text.definitions %}
			## {{ def-category }} def-category
			{% for definition in site.data.definitions[def-category] %}
				- {{ definition.key }}
				: {{ definition.value }}
			{% endfor %}
		{% endfor %}
	{% endif %}

	{% if post.common-text.acronyms %}
		# Acronimos
		{% for acr-category in post.common-text.acronyms %}
			## {{ acr-category }}
			{% for acronym in site.data.acronyms[acr-category] %}
				*[{{ acronym.key }}]: {{ acronym.value }}
			{% endfor %}
		{% endfor %}
	{% endif %}
