{% if page.data_type == 'bookmarks' %}
    <div class="list__item">
        <a href="{{ item.url}}" target="_blank">{{ item.title}}</a>
        <p class="page__meta">
            <span class="page__meta-date">
                <strong>Consultado:</strong>
                <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
                <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%-d %B, %Y" }}</time>
            </span>
            <span class="page__meta-status text-primary">
                {% for tag in item.tags %} | {{ tag }}{% endfor %}
            </span>
        </p>
    </div>

{% elsif page.data_type == 'quotes' %}
    <div class="list__item">
        <p>"{{ item.quote }}" - {{ item.author }}</p>
    </div>

{% elsif page.data_type == 'audiovisuals' %}
    <div class="grid__item">
        <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        <div>
            {% if item.platform == 'ivoox' %}
                {% include /media/podcast-ivoox-player-mini.html id=item.uid %}
            {% elsif item.platform == 'youtube' %}
                {% include /media/video-youtube-player-mini.html id=item.uid provider=item.platform %}
            {% endif %}
            </div>
                <span class="stars-container stars-{{ podcast.stars | times:20 | round: 0 }}" title="{{ podcast.stars }}/5">★★★★★</span><br>
                {% if item.review %}<a href="/podcasts/reviews/{{ podcast.review }}"> Mis notas </a>{% endif %}
                {% if item.posts %}
                    {% for post in item.posts %}
                        <a href="/blog/{{ post }}"> Notas </a><br>
                    {% endfor %}
                {% endif %}
        </article>
    </div>

{% elsif page.data_type == 'articles' %}
    <div class="list__item">
    {% if item.type == 'paper' %}
        <a href="https://sci-hub.se/{{ item.doi}}" target="_blank">{{ item.title}}</a>
    {% else %}
        <a href="{{ item.url}}" target="_blank">{{ item.title}}</a>
    {% endif %}
        <p class="page__meta">
            <span class="page__meta-date">
                <strong>Consultado:</strong>
                <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
                <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%-d %B, %Y" }}</time>
            </span>
            <span class="page__meta-status text-primary">
                {% for tag in item.tags %} | {{ tag }}{% endfor %}
            </span>
        </p>
    </div>

{% elsif page.data_type == 'books' %}
    <div class="grid__item">
        <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        <div>
            {% if item.review %}
                <a href="/blog/{{ item.review }}">
                {% if item.isbn %}
                    <img alt="{{ item.title }}" src="https://covers.openlibrary.org/b/isbn/{{ item.isbn }}-M.jpg">
                {% else %}
                    {{ item.title }} por {{ item.authors }}
                {% endif %}
                </a>
            {% else %}
                {% if item.isbn %}
                    <img alt="{{ item.title }}" src="https://covers.openlibrary.org/b/isbn/{{ item.isbn }}-M.jpg">
                {% else %}
                    {{ item.title }} por {{ item.authors }}
                {% endif %}
            {% endif %}
            </div>
                {% if item.status == 'read' %}
                <span class="stars-container stars-{{ item.stars | times:20 | round: 0 }}" title="{{ item.stars }}/5">★★★★★</span><br>
                {% endif %}
                {% if item.review %}<a href="/blog/{{ item.review }}"> Mis notas </a>{% endif %}
        </article>
    </div>

{% endif %}