{% unless include.no_taxonomy %}
    {% if include.data_source %}
        {% assign grouped_data = site.data.[include.type] | group_by_exp: 'data', 'data.[include.filter]' %}
    {% else %}
        {% assign grouped_data = site.[include.type] | group_by_exp: 'data', 'data.[include.filter]' %}
    {% endif %}
    {% assign grouped_data = grouped_data | sort: 'size' | reverse %}

    <div class="mb-3" style="background: #f3f3f3;">
        <ul class="row taxonomy__index">
        {% for list in grouped_data %}
            <li class="col-sm">
            <a href="#{{ list.name | slugify }}">
                <strong>{{ list.name | capitalize }}</strong> 
                <span class="taxonomy__count">{{ list.size }}</span> 
            </a> 
            </li>
        {% endfor %}
        </ul> 
    </div>

    <div class="row py-2">
        <div class="col mb-2">
            <form action="javascript:void(0);" class="form-inline">
                <div class="input-group">
                <input type="text" class="search form-control form-control-sm" placeholder="Búsqueda">
                <div class="input-group-append list-filter-reset">
                    <button class="btn btn-sm btn-outline-secondary" type="button">
                        <i class="fas fa-fw fa-rotate"></i> Borrar filtros
                    </button>
                </div>
                </div>
            </form>
        </div>
    </div>

    {% for list in grouped_data %}
        <section id="{{ list.name }}" class="mb-4">
            <h2 class="">{{ list.name | capitalize}}</h2>
            <hr>

            <div class="row d-flex list">
                
                {% for item in list.items %}
                    <div class="col-md-6 flex-column flex-fill my-2">
                        <div class="list-text">
                            <a href="{{ item.url}}" target="_blank">{{ item.title}}</a>
                        </div>

                        {% if item.stars %}
                        <span class="stars-container stars-{{ item.stars | times:20 | round: 0 }}" title="{{ item.stars }}/5">★★★★★</span>
                        {% endif %}

                        {% if item.tags %}
                        <div class="list-tags text-success small">
                            {% for tag in item.tags %} 
                                {{ tag }}
                                {% unless forloop.last %} | {% endunless %}
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% if item.published_year or item.consulted_date %}
                        <div class ="small">
                            <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
                            {% if item.date %}
                            <span class="page__meta-date published_year">
                                <strong>Publicación:</strong>
                                <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date }}</time>
                            </span>
                            {% endif %}

                        </div>
                        {% endif %}
                        {% assign reviews = site.reviews | where_exp: "rw", "rw.biblio_id == item.id" %}
                        
                        {% for review in reviews %}
                            <span class="small list-details">
                                <a href="{{ review.url }}"> Anotaciones {% if review.author %} de {{review.author}} {% endif %} </a>
                                {% unless forloop.last %} ; {% endunless %}
                                {% if review.draft %}
                                <span class="text-secondary small">
                                    <i class="fa-fw far fa-edit" aria-hidden="true"></i>
                                    Borrador
                                </span>
                                {% endif %}
                            </span>
                        {% endfor %}
                    
                    {% for post in site.posts %}
                        <span class="small list-details">
                        {% for reference in post.references %}
                            {% if reference == id %}
                                <a href="/blog/{{ post.url }}"> Artículo {% if post.author %} de {{post.author}} {% endif %} </a>
                                {% unless forloop.last %} ; {% endunless %}
                            {% endif %}
                        {% endfor %}
                        </span>
                    {% endfor %}            

                    </div>
                    
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endunless %}

{% if include.no_taxonomy %}
    {% if include.data_source %}
        {% assign list = site.data.[include.type] %}
    {% else %}
        {% assign list = site.[include.type] %}
    {% endif %}
    
    {% for item in list %}
        {% if include.type == "docs" %}
            {% assign deepness = item.url | split:"/" | size %}
            {% if deepness > 3 %}
                {% continue %}
            {% endif %}
        {% endif %}

        <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ item.url }}">
                {% if item.type == "book" %}
                    <img class="" alt="{{ item.title }}" width="auto" height="96" src="https://covers.openlibrary.org/b/isbn/{{ item.book }}-S.jpg">                        
                {% endif %}
                <div class="flex-fill flex-wrap">
                    {% if include.type == "docs" %}
                    {% assign title = item.url | split:"/" %}
                    <h6 class="mb-0 pe-2">{{ title[2] | capitalize | truncatewords: 10 }} </h6>
                    {% else %}
                    <h6 class="mb-0 pe-2">{{ item.title | capitalize | truncatewords: 10 }} </h6>
                    {% endif %}
                    {% if item.type %} <small class="text-dark text-nowrap"> <i class="fa-fw far fa-file-code" aria-hidden="true"></i> {{item.type }}</small>{% endif %}  
                    {% if item.date %} <small class="text-body-secondary"> {{item.date | date: "%-d %B %Y" }} </small> {% endif %}
                    {% if item.author %} <small class="text-body-secondary"> por {{item.author}} </small> {% endif %}
                    {% if item.added_by %} <small class="text-body-secondary"> añadido por {{item.added_by}} </small> {% endif %}
                    {% if item.draft %} <small class="text-primary text-nowrap"> <i class="fa-fw far fa-edit" aria-hidden="true"></i> Borrador</small>{% endif %}                                      
                </div>
            </a>
        </li>

    {% endfor %}

{% endif %}






