<div class="{{ include.type | default: 'list' }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div>
          {% if book.review %}
            <a href="/libros/reviews/{{ book.review }}">
              <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
            </a>
          {% else %}
              <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
          {% endif %}
        </div>
            <span class="stars-container stars-{{ book.stars | times:20 | round: 0 }}" title="{{ book.stars }}/5">★★★★★</span><br>
            {% if book.review %}<a href="/libros/reviews/{{ book.review }}"> Mis notas </a>{% endif %}
    </article>
  </div>

