<div class="{{ include.type | default: 'list' }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div>
          {% if podcast.platform == 'ivoox' %}
            {% include ivoox-player-mini.html id=podcast.id %}
          {% endif %}
        </div>
            <span class="stars-container stars-{{ podcast.stars | times:20 | round: 0 }}" title="{{ podcast.stars }}/5">★★★★★</span><br>
            {% if podcast.review %}<a href="/podcasts/reviews/{{ podcast.review }}"> Mis notas </a>{% endif %}
            {% if podcast.posts %}
            	{% for post in podcast.post %}
            		<a href="/blog/{{ post }}"> Notas </a><br>
            	{% endfor %}
            {% endif %}
    </article>
</div>

