<div class="{{ include.type | default: 'list' }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div>
          {% if book.review %}
            <a href="/blog/{{ book.review }}">
              {% if book.isbn %}
                <img alt="{{ book.title }}" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
              {% else %}
                {{ book.title }} por {{ book.authors }}
              {% endif %}
            </a>
          {% else %}
            {% if book.isbn %}
                <img alt="{{ book.title }}" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
              {% else %}
                {{ book.title }} por {{ book.authors }}
              {% endif %}
          {% endif %}
        </div>
            {% if book.status == 'read' %}
            <span class="stars-container stars-{{ book.stars | times:20 | round: 0 }}" title="{{ book.stars }}/5">★★★★★</span><br>
            {% endif %}
            {% if book.review %}<a href="/blog/{{ book.review }}"> Mis notas </a>{% endif %}
    </article>
</div>

