<div class="post-teaser">
  	<div class="book_info">
  		<figure class="book_cover">
            {% if review.cover %}
                <img alt="{{ review.title }} cover" src="{{ site.baseurl }}/assets/book_covers/{{ review.cover }}">
                <figcaption>Portada de <em>{{ review.title }}</em></figcaption>
            {% elsif review.olid %}
                <img alt="{{ review.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ review.olid }}-L.jpg?default=false">
                <figcaption>Portada de <em>{{ review.title }}</em> en <a href="https://openlibrary.org/olid/{{ review.olid }}">Open Library</a>.</figcaption>
            {% elsif review.isbn %}
                <img alt="{{ review.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ review.isbn }}-L.jpg?default=false">
                <figcaption>Portada de <em>{{ review.title }}</em> en <a href="https://openlibrary.org/isbn/{{ review.isbn }}">Open Library</a>.</figcaption>
            {% endif %}
      </figure>
  		<div class="book_meta">
  			<h3><em><a href="{{ review.url | prepend: site.baseurl }}">{{ review.title }}</a></em></h3> <span class="author">por {{ review.author }}</span><br>
  			Valoración:  <span class="stars-container stars-{{ review.stars | times:20 | round: 0 }}" title="{{ review.stars }}/5">★★★★★</span><br>
  			Género: {{ review.category }}<br>
  			Temática: {% assign first = true %}{% for tag in review.tags %}{% unless first %},{% endunless %} {{ tag }}{% assign first = false %}{% endfor %}<br>
  			Leido: {{ review.date | date: "%-m %Y" }}<br>
  			{% if review.excerpt %}<p>{{ review.excerpt }}</p>{% endif %}
        <p><a href="{{ review.url | prepend: site.baseurl }}" class="btn btn--primary">Leer notas</a></p>
  		 </div>
  	</div>
</div>
