<div class="post-teaser">
  	<div class="book_info">
  		<figure class="book_cover">
            {% if book.cover %}
                <img alt="{{ book.title }} cover" src="{{ site.baseurl }}/assets/book_covers/{{ book.cover }}">
            {% elsif book.olid %}
                <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ book.olid }}-L.jpg?default=false">
                <figcaption>Cortesía de <a href="https://openlibrary.org/olid/{{ book.olid }}">Open Library</a>.</figcaption>
            {% elsif book.isbn %}
                <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg?default=false">
                <figcaption>Cortesía de <a href="https://openlibrary.org/isbn/{{ book.isbn }}">Open Library</a>.</figcaption>
            {% endif %}
      </figure>
  		<div class="book_meta">
  			<h3><em><a href="{{ book.url | prepend: site.baseurl }}">{{ book.title }}</a></em></h3> 
        <span class="author">por {{ book.author }}</span><br>
  			<span class="stars-container stars-{{ book.stars | times:20 | round: 0 }}" title="{{ book.stars }}/5">★★★★★</span><br>
  			<p>
        {% if book.category %} {{ book.category }}{% endif %}
  			{% if book.tags %} sobre {% assign first = true %}{% for tag in book.tags %}{% unless first %},{% endunless %} {{ tag }}{% assign first = false %}{% endfor %}{% endif %}
        </p>
  			{% if review.excerpt %} <p>{{ review.excerpt }}</p>{% endif %}
        <p><a href="{{ review.url | prepend: site.baseurl }}" class="btn btn--primary">Leer notas</a></p>
  		 </div>
  	</div>
</div>
