{% if include.id %}
  {% assign feature_row = page[include.id] %}
{% else %}
  {% assign feature_row = page.feature_row %}
{% endif %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
    {% for f in feature_row %}
    <div class="col">
      <a href="{{ f.url | relative_url }}">
        <div class="card bg-dark text-white">
          <img src="{{ f.image_path | relative_url }}" class="card-img" alt="{% if f.alt %}{{ f.alt }}{% endif %}">
          <div class="card-img-overlay">
            <h2 class="card-title">{{ f.title }}</h2>
            <p class="card-text">{{ f.excerpt | markdownify }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
</div>
