{% assign page_url = page.url | remove:'.html' %}
{% assign page_deep = page_url | split: '/' | size %}
{% assign page_deep_next = page_deep | plus: 1 %}

{% assign pages = site.[page.collection] %}


{% if page.type %}
    {{ page.type}}
    {% assign pages = pages | where: 'type', page.type %}
{% endif %}

{% if page.type %} tipe -> {{page.type}} {% endif %}

<ul>
{% for p in pages %}
       
    {% assign p_url = p.url | remove:'.html' %}
    {% assign p_deep = p_url | split: '/' | size %}

    {% if p_url contains page_url and p_deep == page_deep_next %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li> 
    {% endif %} 
{% endfor %}
</ul>