{% assign page_folders = page.url | remove:'.html' | split: '/' %}
{% assign page_position = page_folders | size %}
{% assign page_next_position = page_position | plus: 1 %}

{% assign pages = site.[page.collection] %}

{% if page.type %}
    {{ page.type}}
    {% assign pages = pages | where: 'type', page.type %}
{% endif %}

<ul>
    {% for item in pages %}
        {% assign item_folders = item.url | remove:'.html' | split: '/' %}
        {% assign item_position = item_folders | size %}
        {% assign open = false %}

        {% if item_position <= page_next_position %}
            {% if item_position == page_next_position %}
                {% unless open %}
                    <ul>
                    {% assign open = true %}
                {% endunless %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% else %}
                {% if open %}
                    </ul>
                {% endif %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>     
            {% endif %}
        {% else %}
            {% continue %}
        {% endif %}
    {% endfor %}

</ul>
