<div class="d-none d-md-block">
    <div class="position-sticky" style="top: 2rem;">
        <div>
            <h4 class="fst-italic">Artículos relacionados</h4>
            <ul class="list-unstyled">
              {% for related in related_posts limit: 5 %}
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ related.url }}">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">{{ related.title }} </h6>
                    <small class="text-body-secondary">
                      {{ related.date | date: "%-d %B, %Y" }}
                    </small>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
        </div>

        <div>
            <h4 class="fst-italic">Artículos recientes</h4>
            <ul class="list-unstyled">
            {% for recent_post in site.posts limit: 5 %}
            <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ recent_post.url }}">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="col-lg-8">
                    <h6 class="mb-0">{{ recent_post.title }} </h6>
                    <small class="text-body-secondary">
                    {% include translated_date.html date=recent_post.date format="%-d %B %Y" %}
                    </small>
                </div>
                </a>
            </li>
            {% endfor %}
            </ul>
        </div>

        <div class="p-4">
            <h4 class="fst-italic">Archivo</h4>
            <ol class="list-unstyled mb-0">
            <li><a href="#">Agosto 2024</a></li>
            </ol>
        </div>
    </div>
</div>