{{ item }}
{% if include.level == 'first' %}
<span class="nav__sub-title">
    <a href="{{ include.item.url | relative_url }}">
{% else %}
    <a href="{{ include.item.url | relative_url }}" class="{% if include.item.url == include.page.url %} active {% endif %}">
{% endif %}
        {% if document.status == 'approved' %}
            <i class="fa-fw fas fa-check-square text-success" aria-hidden="true"></i>
        {% elsif document.status == 'declined' %}
            <i class="fa-fw fas fa-times text-danger" aria-hidden="true"></i>
        {% elsif document.status == 'pending_approval' %}
            <i class="fa-fw fas fa-exclamation-triangle text-warning" aria-hidden="true"></i>
        {% elsif document.status == 'open' or document.status == 'draft' %}
            <i class="fa-fw far fa-edit text-primary" aria-hidden="true"></i>
        {% endif %}

        {{ include.item.title }}

        {% assign now = site.time | date: '%s' | plus: 0 %}

        {% assign last_day = now | minus: 86400 %}
        {% assign last_two_days = now | minus: 172800 %}
        {% assign last_week = now | minus: 604800 %}
        {% assign last_month = now | minus: 2592000 %}

        {% assign updated = document.lastmod | date: '%s' | plus: 0 %}

        {% if updated > last_day %}
            <i class="fas fa-sync-alt text-secondary"> <small>24h</small></i>
            {% elsif updated > last_two_days %}
            <i class="fas fa-sync-alt text-secondary"> <small>48h</small></i>
        {% elsif updated > last_week %}
            <i class="fas fa-sync-alt text-secondary"> <small>esta semana</small></i>
        {% elsif updated > last_month %}
            <i class="fas fa-sync-alt text-secondary"> <small>este mes</small></i>
        {% endif %}
    </a>
{% if include.level == 'first' %}
</span>
{% endif %}