{{ item }}
{% if include.level == 'first' %}
<span class="nav__sub-title">
    <a href="{{ include.item.url | relative_url }}">
{% else %}
    <a href="{{ include.item.url | relative_url }}" class="{% if include.item.url == include.page.url %} active {% endif %}">
{% endif %}
        {% if document.status == 'approved' %}
            <i class="fa-fw fas fa-check-square text-success" aria-hidden="true"></i>
        {% elsif document.status == 'declined' %}
            <i class="fa-fw fas fa-times text-danger" aria-hidden="true"></i>
        {% elsif document.status == 'pending' %}
            <i class="fa-fw fas fa-exclamation-triangle text-warning" aria-hidden="true"></i>
        {% elsif document.status == 'open' or document.status == 'draft' %}
            <i class="fa-fw far fa-edit text-primary" aria-hidden="true"></i>
        {% endif %}

        {{ include.item.title }}

        {% assign now = site.time | date: '%s' | plus: 0 %}
        {% assign updated = document.lastmod | date: '%s' | plus: 0 %}
        {% assign month = updated | date: '%s' | plus: 2592000 %}
        {% assign days = now | minus: updated | divided_by: 86400 %}

        {% if days == 0 %}
            <i class="far fa-calendar-alt text-secondary"> <small>hoy</small></i>
        {% elsif days < 32 %}
            <i class="far fa-calendar-alt text-secondary"> <small>{{ days }}d</small></i>
        {% endif %}
    </a>
{% if include.level == 'first' %}
</span>
{% endif %}