
{% if page.permalink == '/podcasts/' %}
[Ordenar por fecha]({{ page.permalink }}){: .btn .btn--primary} 
[Ordenar por temática](/{{ page.taxonomy | downcase }}/tematica/){: .btn .btn--inverse} 
[Ordenar por show](/{{ page.taxonomy | downcase }}/show/){: .btn .btn--inverse} 
[Ordenar por valoración](/{{ page.taxonomy | downcase }}/valoracion/){: .btn .btn--inverse} 
[Solo con notas](/{{ page.taxonomy | downcase }}/reviews/){: .btn .btn--inverse}

{% elsif page.permalink == '/podcasts/reviews/' %}
[Ordenar por fecha](/{{ page.taxonomy | downcase }}/){: .btn .btn--inverse} 
[Ordenar por temática](/{{ page.taxonomy | downcase }}/tematica/){: .btn .btn--inverse} 
[Ordenar por show](/{{ page.taxonomy | downcase }}/show/){: .btn .btn--inverse} 
[Ordenar por valoración](/{{ page.taxonomy | downcase }}/valoracion/){: .btn .btn--inverse} 
[Solo con notas]({{ page.permalink }}){: .btn .btn--primary}

{% elsif page.permalink == '/podcasts/show/' %}
[Ordenar por fecha](/{{ page.taxonomy | downcase }}/){: .btn .btn--inverse} 
[Ordenar por temática](/{{ page.taxonomy | downcase }}/tematica/){: .btn .btn--inverse} 
[Ordenar por show]({{ page.permalink }}){: .btn .btn--primary} 
[Ordenar por valoración](/{{ page.taxonomy | downcase }}/valoracion/){: .btn .btn--inverse} 
[Solo con notas](/{{ page.taxonomy | downcase }}/reviews/){: .btn .btn--inverse}

{% elsif page.permalink == '/podcasts/tematica/' %}
[Ordenar por fecha](/{{ page.taxonomy | downcase }}/){: .btn .btn--inverse} 
[Ordenar por temática]({{ page.permalink }}){: .btn .btn--primary} 
[Ordenar por show](/{{ page.taxonomy | downcase }}/show/){: .btn .btn--inverse} 
[Ordenar por valoración](/{{ page.taxonomy | downcase }}/valoracion/){: .btn .btn--inverse} 
[Solo con notas](/{{ page.taxonomy | downcase }}/reviews/){: .btn .btn--inverse}

{% elsif page.permalink == '/podcasts/valoracion/' %}
[Ordenar por fecha](/{{ page.taxonomy | downcase }}/){: .btn .btn--inverse} 
[Ordenar por temática](/{{ page.taxonomy | downcase }}/tematica/){: .btn .btn--inverse} 
[Ordenar por show](/{{ page.taxonomy | downcase }}/show/){: .btn .btn--inverse} 
[Ordenar por valoración]({{ page.permalink }}){: .btn .btn--primary} 
[Solo con notas](/{{ page.taxonomy | downcase }}/reviews/){: .btn .btn--inverse}

{% endif %}

