<div id="opinion-disclaimer" class="notice--primary small mt-2">
    <b><u>Descargo de responsabilidad:</u></b>
    Consciente de la responsabilidad que supone emitir cualquier juicio de valor, tenga en cuenta el lector que el presente artículo presenta mi opinión personal y que, aunque públicamente accesible, todo lo escrito en este sitio tiene como único objetivo facilitar mi propio proceso reflexivo.
    Por favor, no tome lo expuesto como una información relevante. No cuento con conocimiento, experiencia ni capacidades intelectuales suficientes para articular un contenido genuino ni fiel a la realidad.  
</div>