<div id="opinion-disclaimer" class="notice--primary small mt-2">
    <b><u>Descargo de responsabilidad:</u></b>
    La emisión de cualquier juicio de valor siempre acarrea una responsabilidad. Por ello informo a las personas que puedan leer este arítuculo que su contenido se basa en opiniones personales. 
    Este blog tiene como único objetivo ser una herramienta personal para facilitar mi proceso reflexivo y, aunque es públicamente accesible, no pretendo, de modo alguno, influir o informar a otras personas.
    Por favor, no tome lo expuesto como una información relevante. No cuento con conocimiento, experiencia ni capacidades intelectuales suficientes para articular un contenido genuino fiel a los hechos objetivos o evidencias científicas.  
</div>