<article id="comment{% unless include.r %}{{ id | prepend: '-' }}{% else %}{{ include.id | prepend: '-' }}{% endunless %}" class="js-comment comment {% unless include.parent == null %}child-{{include.level | minus: 1 }}{% endunless %}">
  <div class="comment__avatar">
    {% if include.avatar %}
      <noscript><img src="{{ include.avatar }}" alt=""></noscript>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ include.avatar }}" alt="" class="lazyload blur-up">
    {% elsif include.email %}
      <noscript><img src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60" alt=""></noscript>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60 1x, https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=120 2x" alt="" class="lazyload blur-up">
    {% else %}
      <noscript><img src="/assets/images/people/anon_user.jpeg" alt=""></noscript>
      <img class="lazyload blur-up" src="/assets/images/people/anon_user.jpeg" alt="">
    {% endif %}
    </div>
  <div class="comment__main">
    <div class="comment__meta">
      {% unless include.url == blank or include.url == "" %}
        <a rel="external nofollow" href="{{ include.url }}"><strong class="h-card">{{ include.name | strip_html }}</strong></a>
      {% else %}
        <strong class="h-card">{{ include.name | strip_html }}</strong>
      {% endunless %}
      {% if include.date %}
        on
        {% if include.id %}<a href="#comment{% if r %}{{ id | prepend: '-' }}{% else %}{{ include.id | prepend: '-' }}{% endif %}" title="Permalink to this comment">{% endif %}
          <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: "%B %-d, %Y" }}</time>
        {% if include.id %}</a>{% endif %}
      {% endif %}
    </div>
    <div class="comment__message">
      {{ include.message | markdownify }}
    </div>
    {% unless page.comments_locked == true or include.level >= site.comments.max_replies_level %}
      <div class="comment__reply">
        <a rel="nofollow" href="#comment-{{ include.id }}" onclick="return addComment.moveForm('comment-{{ include.id }}', '{{ include.id }}', 'respond', '{{ page.slug }}')">
          &#x2BA9; Responder</a>
      </div>
    {% endunless %}
  </div>
</article>

{% include /comments/comments_loop.html comments=include.replies level=include.level %}
