{% capture comments_label %}{{ site.data.ui-text[site.locale].comments_label | default: "Comments" }}{% endcapture %}

<div class="card">
    <div class="card-header pb-2 d-flex justify-content-between align-items-start">
        <span class="align-self-center">
            {{ comments_label }}
            <span class="badge rounded-pill bg-secondary">
                {% if site.data.comments[page.slug].size > 0 %}
                    {{ site.data.comments[page.slug] | size }}
                {% else %}
                    0
                {% endif %}
            </span>
        </span>
        <span class="d-inline">
            <button class="btn btn-sm btn-primary" id="new-comment-link" style=""><i class="fas fa-fw fa-plus"></i> Dejar un comentario</button>
        </span>
    </div>
    <div class="card-body">
        
        {% include /comments/comment-form.html %}
        {% if site.data.comments[page.slug] %}
            <div id="comments" class="page__comments js-comments">
                <!-- {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1]._parent == comment[1]._id' %} -->
                {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1]._parent == null'%}
                {% assign level = 0 %}
                {% include comments_loop.html comments=comments level=level %}
            </div>
        {% endif %}       
    </div>
</div>
