---
layout: single_left
---

{% assign book = site.data.books.list | where:'isbn', page.isbn %}
page
{{ page.isbn }}
book
{{ book }}
{% for bk in book %}
{{ bk }}
{% endfor %}


<article itemscope itemtype="http://schema.org/Review">
  <section class="post-content">
	  <div class="book_info" itemprop="itemReviewed" itemscope itemtype="http://schema.org/Book">
		  <figure class="book_cover">
            {% if book.isbn %}
                <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg?default=false">
                <figcaption>Cortesía de <a href="https://openlibrary.org/isbn/{{ book.isbn }}">Open Library</a>.</figcaption>
            {% elsif book.olid %}
                <img alt="{{ book.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ book.olid }}-L.jpg?default=false">
                <figcaption>Cortesía de <a href="https://openlibrary.org/olid/{{ book.olid }}">Open Library</a>.</figcaption>
            {% elsif book.cover %}
            	<img alt="{{ book.title }} cover" src="{{ site.baseurl }}/assets/book_covers/{{ book.cover }}">
            {% endif %}
    	</figure>
		  <div class="book_meta">
			  <h3 itemprop="name">{{ book.title }}</h3> por <span class="author" itemprop="author" >{{ book.author }}</span><br>
			  {% if book.stars %}<span class="stars-container stars-{{ book.stars | times:20 | round: 0 }}" title="{{ book.stars }}/5">★★★★★</span><br>{% endif %}
			  <p>
			  {% if book.category %} {{ book.category }}{% endif %}
			  {% if book.tags %} sobre {% assign first = true %}{% for tag in book.tags %}{% unless first %},{% endunless %} {{ tag }}{% assign first = false %}{% endfor %}{% endif %}
			  </p>
			  {% if book.date %} <p>Terminado en {{ book.date | date: "%B %Y" }}</p>{% endif %}
			  <br>
			  <p><a href="{{ page.book-link }}"  target="_blank" class="btn btn--primary">Más info</a></p>
		  </div>
	  </div>
	  <div class="book_feedback">
	  	{{ content }}
	  </div>
  </section>
</article>
