---
layout: archive_left
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign books_by_author = site.data.books | group_by_exp: 'book', 'book[1].author' %}


<span class="total_count">Total Autores: {{ books_by_author | size }}</span><br>

<ul class="taxonomy__index">
    {% for author in books_by_author %}
        <li>
          <a href="#{{ author.name | slugify }}">
            <strong>{{ author.name }}</strong> <span class="taxonomy__count">{{ author.items | size }}</span>
          </a>
        </li>
    {% endfor %}
</ul>

{% for list in books_by_author %}
<section id="{{ list.name | slugify }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ list.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for book_data in list.items %}
        {% assign book = book_data[1] %}
        {% include archive-single-books.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section><br>
{% endfor %}

