---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% assign categories_list = site.data.categories.books | sort %}

<span class="total_count">Total Temáticas: {{ categories_list | size }}</span><br>

<ul class="taxonomy__index">
    {% for category in categories_list %}
      {% assign count = 0 %}
      {% assign books = site.data.books | where: "categories", category %}
      {% for book in books %}
        {% assign count = count | plus: 1 %}
      {%  endfor %}
      {% if count > 0 %}
        <li>
          <a href="#{{ category | slugify }}">
            <strong>{{ category }}</strong> <span class="taxonomy__count">{{ count }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul>

  {% for category in categories_list %}
    {% assign count = 0 %}
    {% assign books = site.data.books | where: "categories", category %}
    {% for book in books %}
      {% assign count = count | plus: 1 %}
    {%  endfor %}

     {% if count > 0 %}
      <section id="{{ category | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for book in books %}
               {% include archive-single-books.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}

  {% endfor %}

