---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign books_by_stars = site.data.books | group_by_exp: 'valoracion', 'valoracion.stars' | sort: "name" | reverse %}

<ul class="taxonomy__index">
    {% for stars in books_by_stars %}
        <li>
          <a href="#{{ stars.name }}">
            <span class="stars-container stars-{{ stars.name | times:20 | round: 0 }}" title="{{ stars.name }}/5">★★★★★</span>
            <span class="taxonomy__count">{{ stars.items | size }}</span>
          </a>
        </li>
    {% endfor %}
</ul>

{% for list in books_by_stars %}
<section id="{{ list.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">
      Valoración <span class="stars-container stars-{{ list.name | times:20 | round: 0 }}" title="{{ list.name }}/5">★★★★★</span>
    </h2>
    <div class="entries-{{ entries_layout }}">
      {% for book in list.items %}
        {% include archive-single-books.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section><br>
{% endfor %}

