---
layout: archive_left
---

{{ content }}


<ul class="taxonomy__index">
    {% for tag in site.tags | where: "category", page.taxonomy | sort %}
      {% if tag[1].size > 0 %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul>

{% for tag in site.tags | where: "category", page.taxonomy | sort %}
    {% if tag[1].size > 0 %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ tag[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in tag.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
 {% endfor %}


{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>
