---
layout: archive_left
---

{{ content }}

{% assign tags_max = 0 %}

{% for post in site.categories[page.taxonomy] %}
	<strong>{{ post[0] }}</strong>
	{% for tag in post.tags %}
   		{% if tag[1].size > tags_max %}
		    {% assign tags_max = tag[1].size %}
		 {% endif %}
	{% endfor %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>
