---
layout: archive_left
---

{{ content }}


<ul class="taxonomy__index">
    {% for tag in site.tags | where: "category", page.taxonomy | sort %}
      {% if tag[1].size > 0 %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>
