---
layout: archive_left
---

{{ content }}

{% assign recetas_list = site.data.recetas.list %}

<ul class="taxonomy__index">
    {% for receta in recetas_list %}
      {% assign count = 0 %}
      {% assign posts = site.recetas | where: "receta", receta %}
      {% for post in posts %}
        {% assign count = count | plus: 1 %}
      {%  endfor %}
      {% if count > 0 %}
        <li>
          <a href="#{{ receta | slugify }}">
            <strong>{{ receta }}</strong> <span class="taxonomy__count">{{ count }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}


   {% for receta in recetas_list %}
      {% assign count = 0 %}
      {% assign posts = site.recetas | where: "receta", receta %}
      {% for post in posts %}
        {% assign count = count | plus: 1 %}
      {%  endfor %}
     {% if count > 0 %}
      <section id="{{ receta | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ receta }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in posts %}
          	{%- unless post.hidden -%}
               {% include archive-single.html type=entries_layout %}
            {%- endunless -%}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
