---
layout: default
---

<div data-bs-spy="scroll" data-bs-target="#TableOfContents" class="container-fluid my-3">

    <div class="bd-gutter mt-3 my-md-4">

        <main class="d-md-flex">
            <!-- DOCUMENTATION NAVIGATION -->
            <aside class="bd-toc d-flex flex-column flex-shrink-0 offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title py-2" id="bdSidebarOffcanvasLabel">Secciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
                </div>
                <div class="offcanvas-body">
                    <nav class="" id="bd-docs-nav" aria-label="Docs navigation">
                        <strong class="d-none d-md-block h6 my-2 px-2">Secciones</strong>
                        <hr class="d-none d-md-block my-2">
                        <ul class="">
                            {% assign doc = page.relative_path | split:'/' %}
                            {% assign doc_id = doc[0] | append: "/" | append: doc[1] | append: "/" %}
                            {% assign docs = site.docs | where_exp: 'item', 'item.relative_path contains doc_id' %}
                            
                            {% for d in docs %}
                                {% assign current = d.relative_path | split:'/' | shift | shift %}
                                {% assign prev = d.previous.relative_path | split:'/' | shift | shift %}

                                {% if forloop.first %}
                                    {% include docs-navigation-loop.html data=d current=current %}
                                {% else %}
                                    {% include docs-navigation-loop.html data=d current=current prev=prev %}
                                {% endif %}                                

                            {% endfor %}
                        </ul>                                    
                    </nav>
                </div>
            </aside>

            

            <div class="d-flex flex-column flex-fill">
                <!-- INTRO -->
                <div class="bd-intro">
                    <div class="d-md-flex align-items-center justify-content-start ps-2">
                        <h1 class="bd-title mb-0" id="content">{{page.title}}</h1>
                    </div>
                    {% if page.subtitle %}
                    <p class="bd-lead ps-2">{{page.subtitle}}</p>
                    {% endif %}
                    <hr class="d-none d-md-block my-2">
                </div>

                

                <!-- CONTENT -->

                <div class="bd-content ps-lg-2" id="doc_content">
                    {{ content }}
                </div>
            </div>

            {% if page.toc %}
            <!-- TOC -->
            <div class="bd-toc d-flex flex-column flex-shrink-0 text-body-secondary offcanvas-md offcanvas-end" tabindex="-1" id="tocContents" aria-labelledby="tocContentsOffcanvasLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title py-2" id="tocContentsOffcanvasLabel">Índice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#tocContents"></button>
                </div>
                <strong class="d-none d-md-block h6 my-2 ms-3 px-2">Índice</strong>
                <hr class="d-none d-md-block my-2 ms-3">
                <div class="offcanvas-body"id="tocContents">
                    <nav id="TableOfContents">
                        <ul>
                            {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}                
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
        </main>
    </div>
</div>




