---
layout: archive_left
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% assign podcasts = site.data.podcasts.list | sort: "date" %}
{% assign count = 0 %}
{% for item in podcasts %}
    {% assign count = count | plus: 1 %}  
{% endfor %}

{% assign podcastInYear = podcasts | group_by_exp:"podcast", "podcast.date | date: '%Y'" %}
{{ podcastInYear }}

<span class="total_count">Total podcasts escuchados: {{ count }}</span><br>
<span class="last-update">Listado actualizado el {{ site.data.podcasts.lastupdate }}</span>

<ul class="taxonomy__index">

   {% for year in podcastInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
   {% endfor %}

</ul>



