---
layout: archive
---

{{ content }}

{% assign series_list = site.data.series %}

<ul class="taxonomy__index">
    {% for serie in series_list %}
      {% assign count = 0 %}
      {% assign posts = site.posts | where: "serie", serie %}
      {% for post in posts %}
        {% assign count = count | plus: 1 %}
      {%  endfor %}
      {% if count > 0 %}
        <li>
          <a href="{{ serie | slugify }}">
            <strong>{{ serie }}</strong> <span class="taxonomy__count">{{ count }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}

    {% for serie in series_list %}
      {% assign count = 0 %}
      {% assign posts = site.posts | where: "serie", serie %}
      {% for post in posts %}
        {% assign count = count | plus: 1 %}
      {%  endfor %}
      {% if count > 0 %}
      <section id="{{ serie | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ serie }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in posts %}
              {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}

