---
layout: archive_left
---

{{ content }}

{% assign series_list = site.data.series.list %}
{% assign posts = "" | split: ',' %}
{% assign series_count = "" | split: ',' %}

{{ series_list[0] }}


{% for serie in series_list %}
  {% assign series_count[serie] = 0 %}
  {% assign posts[serie] = site.posts | where: "serie", serie %}
  {% assign series_count[serie] = series_count[serie] | plus: 1 %}
{% endfor %}


<ul class="taxonomy__index">
    {% for serie in series_list %}
      {% if series_count[serie].size > 0 %}
        <li>
          <a href="#{{ serie | slugify }}">
            <strong>{{ serie }}</strong> <span class="taxonomy__count">{{ series_count[serie].size }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}

  {% for serie in series_list %}
    {% if series_count[serie].size > 0 %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ serie }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in posts[serie] %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}

